@use "../../style/style.scss" as *;


.teamMate {
  width: max-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 2px;
  &.teamMate img {
    box-sizing: border-box;
  }
}

.sticks {
  display: flex;
  position: absolute;
  top: 126px;
  left: 50%;
  transform: translate(-50%, 0);
  align-items: center;
  font-family: $font-RubikMonoOne;
  color: $color-deep-blue;
  font-size: 16px;
  font-weight: 400;
  &.sticks span {
    padding-right: 6px;
  }
}

.arrows {
  display: flex;
  position: absolute;
  top: 126px;
  left: 6%;
  width: 88%;
  align-items: center;
  justify-content: space-between;
}


.teamPageWrapper{
  width: auto;
  height: 342px;
  background-color: $color-white;
}
.arena {
  width: 100%;
  height: 470px;
  position: absolute;
  top: 0;
  background: url('../../../public/assets/background/arenaBackground.png') center no-repeat;
  background-size: 90% 470px;
  background-color: white;
}

.teammatesWrapper {
  position: absolute;
  width: 95%;
  top: 178px;
  left: 5%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 64px 64px;
  align-items: center;
  justify-items: center;
  row-gap: 44px;
  opacity: 0;
  &.teammatesWrapper div:last-child {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: start;
  }
  &.teammatesWrapper div:nth-child(4) {
    justify-self: end;
  }
  &.visible {
    opacity: 1;
    transition: opacity 1s;
  }
}
.playerPanelWrapper{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.playerPanelContent{ 
  height: 42px;
  padding: none;
  padding-left: 26px;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  border: 0.5px solid #000;
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.04) 1.99%, rgba(255, 255, 255, 0.00) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  & .positionPanel {
    justify-self: end;
    position: relative;
  }
}

.playerName{
  @include buttonText;
  font-size: 20px;
  padding: none;
  padding-left: 2px;
  justify-self: start;
  &.playerName p {
    margin: none; 
    padding: none;
    font-size: 12px;
  }
}

.positionPanel span{
  position: absolute;
  top: 12px;
  left: 4px;
  @include h3Text
}