@mixin placeholder {
  font-family: $font-Montserrat;
  font-size: 12px;
  line-height: 10px;
  font-weight: $fw-regular;
  color: $color-darkGrey;
}

@mixin buttonText {
  font-family: $font-RubikMonoOne;
  font-size: 16px;
  font-weight: $fw-regular;
  color: $color-white;
}

@mixin h1Text {
  font-family: $font-RubikMonoOne;
  font-size: 22px;
  line-height: 27px;
  font-weight: $fw-regular;
  color: $color-deep-blue;
}

@mixin h3Text {
  font-family: $font-Montserrat;
  font-size: 14px;
  line-height: 17px;
  font-weight: $fw-extrabold;
  color: $color-white;
}


@mixin secondaryText {
  font-family: $font-Montserrat;
  font-size: 8px;
  line-height: 10px;
  color: $color-darkGrey;
  font-weight: $fw-regular;
}

@mixin secondaryTextRubik {
  font-family: $font-RubikMonoOne;
  font-size: 8px;
  line-height: 10px;
  color: $color-white;
  font-weight: $fw-regular;
}