.headerWrapper {
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 36px;
    padding: 0 40px;
}

.dropMenu  {
    position: absolute;
    width: 50vw;
    height: 50vh;
    background-color: gray;
    top: 0;
    left: 25vw;
}