@use './style.scss' as *;

@import '../../public/assets/fonts/stylesheet.scss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url('../../public/assets/background/IceBackground.png') no-repeat center center fixed;
  background-color: #011E30;
  background-size: cover;
  overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

ul {
  list-style-type: none;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
