@use "../../../style/style.scss" as *;

.editModal {
  width: 35vw;
  height: 35vh;
  background-color: aquamarine;
}

.jarcy {
  display: flex;
  position: absolute;
  top: 126px;
  left: 50%;
  transform: translate(-50%, 0);
  align-items: center;
  font-family: $font-RubikMonoOne;
  color: $color-white;
  font-size: 16px;
  font-weight: 400;
  top: 126px;
  left: 50%;
  &.jarcy span {
    padding-right: 6px;
  }
}